.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-wrapper{
  background-color: #ffffff;
}

.title{
  color: black;
}
.menu{
  color: #65737e;
}

.input-field{
  border-radius: 10px; 
}

.input-field input[type=search] {
  margin-bottom: 4px;
  border-bottom: none;
}

.tab{
  font-family: 'Roboto', sans-serif;
}
.crypto{
  padding-top:7px;
  font-family: 'Lato', sans-serif;
}

.sumCard{
  text-align: left;
  font-weight: bold;
  float:left;
  font-family: 'Lato', sans-serif;
}

.material-icons {
  vertical-align: -6px; /*Change this to adjust the icon*/
}

.secondary-content{
  float:right;
  text-align:right; 
  font-family: 'Lato', sans-serif;
}
.positive{
  float:right;
  text-align:right; 
  font-family: 'Lato', sans-serif;
  color: #4cb54a;
}

.negative{
  float:right;
  text-align:right; 
  font-family: 'Lato', sans-serif;
  color: #e04a60;
}

.price{
  float:right;
  text-align:right; 
  font-family: 'Lato', sans-serif;
}

.mkt{
  float:left;
  color: #a7adba;
  font-family: 'Lato', sans-serif;
}

.collection .collection-item{
  padding-bottom: 25px;
}
.collection-item .coin {
  padding-bottom: 10px !important;
}
.collection{
 border-radius: 10px;  
}

.follow{
  color: blue;
}







.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  /*perspective:20px;*/
}
.suggestions li {
  background:white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin:0;
  padding:20px;
  transition:background 0.2s;
  display:flex;
  justify-content:space-between;
  text-transform: capitalize;
}

/* .suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
} */

.hl {
  background:#ffc600;
}


#walkThru {
  color:#fff;
}

.land{
  margin: 5px;
  width: 40%;
}
